body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #F0FFFF;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #007C91;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding:80px 20px 40px;
}

.middle-container {
  padding: 60px 20px;
  background: linear-gradient(to bottom right, #D0F0F3, #C2F9FB, #E4F9F5);
  border-top: none;
  border-bottom: none;
}

.skill-row,
.profile-row,
.education-row,
.work-experience-row,
.work-experience-row2 {
  width: 50%;
  margin: 60px auto;
  text-align: left;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #B2EBF2;
  box-shadow: 0 4px 10px rgba(102, 191, 191, 0.2);
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #B2EBF2;
  box-shadow: 0 3px 8px rgba(102, 191, 191, 0.1);
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: auto;
  padding: 0 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.mena-profile-img,
.education-img,
.repair-img,
.work-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 12px;
}

.work-img {
  width: 50%;
  height: 40%;
  border-radius: 50%;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

td,
th {
  text-align: left;
  padding: 8px;
}
